<section class="get-ready">
  <div class="get-ready__container container">
    <div class="get-ready__text-wrapper">
      <div class="get-ready__arc-yellow">
        <svg width="65" height="76">
          <use href="@img/sprite.svg#get-ready--arc-yeelow"></use>
        </svg>
      </div>
      <div class="get-ready__arc-red">
        <svg class="get-ready__arc-red-desck" width="140" height="70">
          <use href="@img/sprite.svg#hero--ellipse-red"></use>
        </svg>
        <svg class="get-ready__arc-red-mob" width="90" height="70">
          <use href="@img/sprite.svg#get-ready--arc"></use>
        </svg>
      </div>
      <svg class="get-ready__icon-title" width="50" height="47">
        <use href="@img/sprite.svg#get-ready--icon-title"></use>
      </svg>
      <h2 class="get-ready__title">Ready to get started?</h2>
      <p class="get-ready__sub-title">
        We'll help you create a health plan with vitamins, supplements, and more
        that help you feel your best today and support you long-term.
      </p>
      <a href="quiz.html" class="get-ready__link-quiz">Take the quiz</a>
      <a href="catalog.html" class="get-ready__shop-link"
        >Go to the shop
        <svg width="6" height="9">
          <use href="@img/sprite.svg#hero--hero-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
