<section class="healthy">
  <div class="healthy__container container">
    <div class="healthy__content">
      <div class="healthy__left-block">
        <div class="healthy__left-circle-yellow"></div>
        <h2 class="healthy__title">
          Healthy doesn’t have to be hard. We make it easy.
        </h2>
        <picture class="healthy__left-img">
          <source
            srcset="@img/healthy/tablets-desck.webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="@img/healthy/tablets-mob-375.webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="@img/healthy/tablets-mob-375.webp"
            media="(min-width: 375px)"
          />
          <img src="@img/healthy/tablets-mob-320.webp" alt="Image Vitamins" />
        </picture>
      </div>
      <div class="healthy__right-block">
        <ul class="healthy__right-list">
          <li class="healthy__right-item">
            <svg width="47" height="38">
              <use href="@img/sprite.svg#healthy--one-item"></use>
            </svg>
            <p class="healthy__item-text">
              Healthy doesn’t have to be hard. We make it easy.
            </p>
          </li>
          <li class="healthy__right-item">
            <svg width="40" height="44">
              <use href="@img/sprite.svg#healthy--two-item"></use>
            </svg>
            <p class="healthy__item-text">
              Healthy doesn’t have to be hard. We make it easy.
            </p>
          </li>
          <li class="healthy__right-item">
            <svg width="38" height="49">
              <use href="@img/sprite.svg#healthy--three-item"></use>
            </svg>
            <p class="healthy__item-text">
              Healthy doesn’t have to be hard. We make it easy.
            </p>
          </li>
        </ul>
        <picture class="healthy__right-img">
          <source
            srcset="@img/healthy/pills-desck.webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="@img/healthy/pills-mob-375.webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="@img/healthy/pills-mob-375.webp"
            media="(min-width: 375px)"
          />
          <img src="@img/healthy/pills-mob-320.webp" alt="Image Vitamins" />
        </picture>
      </div>
    </div>
  </div>
</section>
