<section class="tell-us">
  <div class="tell-us__container container">
    <div class="tell-us__content">
      <div class="tell-us__arc-yellow">
        <svg width="100" height="150">
          <use href="@img/sprite.svg#tell-us--ellipse-yellow"></use>
        </svg>
      </div>
      <div class="tell-us__cirkle-blue"></div>
      <div class="tell-us__title-wrapper">
        <svg width="50" height="50">
          <use href="@img/sprite.svg#tell-us--Group"></use>
        </svg>
        <h2 class="tell-us__title">
          Tell us a little about yourself. We’re good listeners.
        </h2>
        <p class="tell-us__sub-title">
          We'll help you create a health plan with vitamins, supplements, and
          more that help you feel your best today and support you long-term.
        </p>
        <a href="quiz.html" class="tell-us__quiz-link">Take the quiz</a>
      </div>
    </div>
  </div>
</section>
