@use "./utils/variables" as v;

.header {
  position: relative;
  padding: 15px 0;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.07);
    @media (min-width: v.$bp-laptop-sm) {
      display: none;
    }
  }

  @media (min-width: v.$bp-tablet) {
    padding: 25px 0 0 0;
  }
  @media (min-width: v.$bp-laptop) {
    padding: 30px 0 0 0;
  }

  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop) {
      padding: 0 30px 0 35px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn-open-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 32px;
    height: 32px;
    padding: 0;
    background: none;
    border: none;
    margin-top: 9px;
    @media (min-width: v.$bp-laptop-sm) {
      display: none;
    }

    span {
      width: 24px;
      height: 2px;
      background: v.$color-black;
    }
  }

  &__logo-link {
    @media (min-width: v.$bp-desktop) {
      svg {
        width: 42px;
        height: 50px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @media (min-width: v.$bp-laptop-sm) {
      gap: 30px;
    }
  }

  &__item {
    display: flex;
  }

  &__item:nth-child(1),
  &__item:nth-child(3) {
    display: none;
    @media (min-width: v.$bp-laptop-sm) {
      display: flex;
    }
  }

  &__item-quiz-link {
    @media (min-width: v.$bp-laptop-sm) {
      background: v.$main-orange;
      border-radius: 100px;
      padding: 15px 30px;
      font-family: "Effra";
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      color: v.$color-white;
      border: 1px solid v.$main-orange;
      transition: all 0.5s ease-in;

      &:hover {
        background: transparent;

        color: v.$main-orange;
      }
    }
    @media (min-width: v.$bp-desktop) {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }
}
