$bp-mobile: 375px;
$bp-mobile-414: 414px;
$bp-tablet: 768px;
$bp-laptop-sm: 1024px;
$bp-laptop: 1440px;
$bp-desktop: 1800px;

$main-dark: #343434;
$main-orange: #ff7d4e;
$red: #d32d2c;
$goods-purple: #9c91e0;
$goods-purple-text: #6b5ebb;
$goods-mint: #94d6be;
$goods-mint-text: #6bb0a4;
$goods-pink: #da91e0;
$goods-pink-text: #9448a0;
$goods-blue: #91caf2;
$goods-blue-text: #5f9dca;
$goods-orange: #f2b385;
$goods-orange-text: #e29964;
$goods-green: #a5b3ff;
$goods-green-text: #5e73bb;
$goods-red: #e8939d;
$goods-red-text: #e5463b;
$color-white: #fff;
$color-black: #000;
