@use "./utils/variables" as v;

.catalog {
  padding: 20px 0 60px;
  height: 100%;
  @media (min-width: v.$bp-laptop) {
    padding: 60px 0 105px;
  }
  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0 102px;
    }
    @media (min-width: v.$bp-desktop) {
      padding: 0 202px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
    @media (min-width: v.$bp-laptop-sm) {
      flex-direction: row;
      gap: 30px;
      margin-bottom: 0;
    }
    @media (min-width: v.$bp-desktop) {
      gap: 158px;
    }
  }

  &__toggle-wrapper {
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    @media (min-width: v.$bp-laptop-sm) {
      display: none;
    }
  }

  &__toggle {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;

    span {
      font-family: "Effra", sans-serif;
      font-weight: 500;
      font-size: 16px;
    }

    svg {
      transition: transform 0.4s ease;
    }
    svg.rotated {
      transform: rotate(180deg);
    }
  }

  &__filter-list {
    position: absolute;
    display: none;
    top: 3%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 20;
    @media (min-width: v.$bp-laptop-sm) {
      position: static;
      display: flex;
      flex-direction: column;
      gap: 43px;
      padding: 0;
      width: 294px;
      box-shadow: none;
      margin-top: 30px;
    }
    @media (min-width: v.$bp-laptop) {
      width: 216px;
    }
    @media (min-width: v.$bp-desktop) {
      width: 288px;
      margin-left: -6px;
    }

    &.open {
      display: flex;
    }
  }

  &__filter-item {
    padding: 12px;
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0;
    }
  }

  &__filter-btn {
    background-color: transparent;
    border: none;
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    @media (min-width: v.$bp-laptop-sm) {
      &.active {
        color: v.$main-orange;
      }
    }
    @media (min-width: v.$bp-desktop) {
      font-size: 22px;
      font-weight: 400;
    }

    &.sale {
      color: v.$red;
    }
  }

  &__items {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 30px;
    @media (min-width: v.$bp-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: v.$bp-laptop-sm) {
      margin-top: 0;
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: v.$bp-laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: v.$bp-desktop) {
      gap: 32px;
    }
  }

  &__load-more-btn {
    border-radius: 40px;
    background: #faf8f6;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: auto 0;
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-width: 280px;
    width: 100%;
    @media (min-width: v.$bp-laptop-sm) {
      display: none;
    }
  }
}
