@use "./utils/variables" as v;

.healthy {
  // padding: 0 0 40px 0;

  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0 102px;
    }
    @media (min-width: v.$bp-desktop) {
      padding: 0 202px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left-block {
    background-image: url(../../../img/healthy/bg-desck.webp);
    max-width: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 70px 20px;
    margin: 0 -20px 0 -20px;
    @media (min-width: v.$bp-mobile-l) {
      margin: 0 -30px 0 -30px;
    }
    @media (min-width: v.$bp-tablet) {
      padding: 150px 150px;
    }
    @media (min-width: v.$bp-desktop) {
      padding: 356px 135px 401px 202px;
    }
  }

  &__left-circle-yellow {
    position: absolute;
    top: -7%;
    right: 5%;
    border-radius: 100%;
    background-color: #ffca78;
    width: clamp(60px, 19vw, 139px);
    aspect-ratio: 1 / 1;
    @media (min-width: v.$bp-mobile) {
      width: clamp(60px, 16vw, 139px);
      right: -1%;
    }
  }

  &__title {
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: v.$color-white;
    @media (min-width: v.$bp-desktop) {
      font-size: 56px;
    }
  }

  &__left-img {
    position: absolute;
    top: 109%;
    right: -7%;
    z-index: 2;
  }

  &__right-block {
    margin-top: 40px;
  }

  &__right-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__right-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 26px;

    p {
      font-family: "Effra", sans-serif;
      font-weight: 500;
      font-size: 14px;
      @media (min-width: v.$bp-desktop) {
        font-size: 30px;
      }
    }
  }

  &__right-img {
    position: absolute;
    top: 120%;
    right: -7%;
    z-index: 1;
    @media (min-width: v.$bp-mobile-l) {
      top: 123%;
    }
  }
}
