@use "./utils/variables" as v;

.hero {
  padding: 35px 0 15px;
  @media (min-width: v.$bp-tablet) {
    padding: 60px 0 30px;
  }
  @media (min-width: v.$bp-laptop-sm) {
    padding: 80px 0 40px;
  }
  @media (min-width: v.$bp-desktop) {
    padding: 158px 0 0 0;
  }

  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0 102px;
    }
    @media (min-width: v.$bp-desktop) {
      padding: 0 202px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: v.$bp-laptop-sm) {
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
      align-items: center;
    }
  }

  &__text-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: v.$bp-laptop-sm) {
      align-items: flex-start;
      margin-bottom: 106px;
    }
  }

  &__title {
    font-family: "Effra", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    @media (min-width: v.$bp-laptop-sm) {
      text-align: left;
      width: 276px;
    }
    @media (min-width: v.$bp-laptop) {
      font-size: 34px;
      margin-bottom: 25px;
    }
    @media (min-width: v.$bp-desktop) {
      font-size: 56px;
      margin-bottom: 38px;
      width: 660px;
    }

    span {
      color: #f27e58;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.63;
    text-align: center;
    color: #808080;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    @media (min-width: v.$bp-laptop-sm) {
      font-size: 16px;
      text-align: left;
      margin-bottom: 28px;
      width: 372px;
    }
    @media (min-width: v.$bp-laptop) {
      font-size: 18px;
      margin-bottom: 38px;
    }
    @media (min-width: v.$bp-desktop) {
      font-size: 20px;
      margin-bottom: 48px;
      width: 458px;
    }
  }

  &__arc-yellow {
    position: absolute;
    top: 62%;
    left: 85%;
    @media (min-width: v.$bp-mobile) {
      top: 64%;
      left: 83%;
      svg {
        width: 76px;
        height: 76px;
      }
    }
    @media (min-width: v.$bp-tablet) {
      left: 93%;
    }
    @media (min-width: v.$bp-laptop-sm) {
      transform: rotate(180deg);
      top: -50%;
    }
    @media (min-width: v.$bp-desktop) {
      top: -64%;
      left: 54%;
      svg {
        width: 170px;
        height: 170px;
      }
    }
  }

  &__arc-red {
    position: absolute;
    top: 113%;
    left: -32%;
    @media (min-width: v.$bp-mobile) {
      top: 120%;
      left: -25%;
    }
    @media (min-width: v.$bp-tablet) {
      left: -13%;
    }
    @media (min-width: v.$bp-laptop-sm) {
      top: 90%;
      left: 91%;
    }
    @media (min-width: v.$bp-desktop) {
      top: 123%;
      left: 85%;
      svg {
        width: 279px;
        height: 141px;
      }
    }
  }

  &__btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    @media (min-width: v.$bp-laptop-sm) {
      flex-direction: row;
    }
    @media (min-width: v.$bp-desktop) {
      gap: 33px;
    }
  }

  &__quiz-link {
    border-radius: 200px;
    background-color: #6e5ddc;
    padding: 15px 30px;
    font-family: "Effra", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    @media (min-width: v.$bp-desktop) {
      padding: 21px 63px 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      line-height: 1.63;
      width: 260px;
    }
  }

  &__shop-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #f27e58;
    @media (min-width: v.$bp-desktop) {
      font-size: 20px;

      svg {
        width: 9px;
        height: 15px;
      }
    }
  }

  &__img-block {
    position: relative;
    margin: 0 -20px 0 -20px;
    @media (min-width: v.$bp-tablet) {
      display: flex;
      justify-content: center;
      margin: 0;
    }
    @media (min-width: v.$bp-desktop) {
      margin-right: -93px;
      margin-top: 105px;
    }
  }

  &__img-block picture {
    position: relative;
    z-index: 2;
  }

  &__circle-purple {
    display: none;
    @media (min-width: v.$bp-laptop-sm) {
      display: block;
      position: absolute;
      z-index: 1;
      border-radius: 100%;
      width: clamp(300px, 30vw, 523px);
      aspect-ratio: 1 / 1;
      background-color: #8172dd;
      transform: translate(-50%, -50%);
      top: 41%;
      left: 55%;
    }
    @media (min-width: v.$bp-desktop) {
      top: 28%;
      left: 49%;
    }
  }

  &__circle-yellow {
    display: none;
    @media (min-width: v.$bp-laptop-sm) {
      display: block;
      position: absolute;
      top: -15%;
      left: 94%;
      border-radius: 100%;
      background-color: #ffca78;
      width: clamp(85px, 25vw, 95px);
      aspect-ratio: 1 / 1;
    }
    @media (min-width: v.$bp-desktop) {
      top: -40%;
      left: 91%;
    }
  }
}
