<div class="shop-list">
  <div class="shop-list__shop-head">
    <button class="shop-list__shop-head-btn-back" data-back="main">
      <svg width="32" height="34">
        <use href="@img/sprite.svg#header--back_arrow"></use>
      </svg>
    </button>
    <p>Information</p>
  </div>
  <ul class="shop-list__shop-list">
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Subscription Cycle & Billing</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Terms & Conditions</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Privacy Policy</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Shipping & Delivery</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Return Policy</a>
    </li>
  </ul>
</div>
