@use "./utils/variables" as v;

.shop-list {
  &__shop-head {
    position: relative;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    align-items: center;
    text-align: center;
    padding-bottom: 16.31px;

    p {
      font-family: "Effra", sans-serif;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: v.$color-black;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  &__shop-head-btn-back {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 32px;
    height: 34px;
  }

  &__shop-list.shop-only {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  &__shop-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
  }

  &__shop-link-red {
    color: v.$red;
  }

  &__shop-link {
    font-family: "Effra", sans-serif;
    font-weight: 500;
    color: v.$color-black;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    &-title {
      font-family: "Effra", sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: v.$color-black;
      margin-bottom: 15px;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: v.$color-black;
      opacity: 0.5;
      margin-bottom: 25px;
    }

    &-btn {
      border-radius: 100px;
      background-color: v.$main-orange;
      border: none;
      font-family: "Effra", sans-serif;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: v.$color-white;
      padding: 18px;
    }
  }
}
