@use "./utils/variables" as v;

.burger-menu {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  max-width: 1024px;
  width: 100%;
  height: 100vh;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 9999;

  &.is-open {
    transform: translateX(0);
  }

  &__container {
    padding: 0 20px;
    overflow: hidden;
    height: 100%;
  }

  &__views {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    padding-top: 20px;
    overflow-y: auto;

    &.is-active {
      transform: translateX(0);
    }

    &.is-prev {
      transform: translateX(-100%);
      pointer-events: none;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    position: relative;
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    padding: 0;

    span {
      position: absolute;
      top: 35%;
      left: 85%;
      width: 24px;
      height: 2px;
      background: #000;
      transform-origin: center;
      transform: translate(-50%, -50%) scaleX(0);
      opacity: 0;
      transition:
        transform 0.3s ease 0.2s,
        opacity 0.2s ease 0.2s;
    }
  }

  &__btn-profile {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
  }

  &.is-open &__close span {
    opacity: 1;
  }

  &.is-open &__close span:first-child {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
  }

  &.is-open &__close span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 56px 0 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: v.$color-black;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__quiz-link {
    color: v.$main-orange;
  }

  &__copy {
    padding-top: 40px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &-link {
      font-size: 14px;
      color: v.$color-black;
      opacity: 0.5;
    }

    &-text {
      font-size: 12px;
      color: v.$color-black;
      opacity: 0.3;
    }
  }
}
