<section class="sign-up">
  <div class="sign-up__container container">
    <div class="sign-up__content">
      <div class="sign-up__nav">
        <a href="index.html" class="sign-up__logo-link">
          <svg width="42" height="50">
            <use href="@img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="sign-up__mob-nav">
          <a href="index.html" class="sign-up__mob-nav-back">
            <svg width="32" height="34">
              <use href="@img/sprite.svg#sign-up--back_arrow"></use>
            </svg>
          </a>
          <p>Account</p>
        </div>
      </div>
      <div class="sign-up__form-content">
        <div class="sign-up__tabs-btns">
          <buttons class="sign-up__btn active">Regular customer</buttons>
          <buttons class="sign-up__btn">Wholesale customer</buttons>
        </div>
        <p class="sign-up__text-or">Sign up with</p>
        <div class="sign-up__register-btns-wrapper">
          <button class="sign-up__btn-soc">
            <svg width="32" height="32">
              <use href="@img/sprite.svg#sign-up--google"></use>
            </svg>
            <span>Google</span>
          </button>
          <button class="sign-up__btn-soc">
            <svg width="32" height="32">
              <use href="@img/sprite.svg#sign-up--apple"></use>
            </svg>
            <span>Apple</span>
          </button>
          <button class="sign-up__btn-soc">
            <svg width="32" height="32">
              <use href="@img/sprite.svg#sign-up--facebook"></use>
            </svg>
             <span>Facebook</span>
          </button>
        </div>
        <p class="sign-up__or-email">or sign up using your email address...</p>
        <div class="sign-up__form-wrapper">
          <form class="sign-up__form" novalidate="novalidete">
            <div class="sign-up__input-block">
              <input
                class="sign-up__input"
                type="email"
                name="email"
                placeholder="Email"
                id="email"
              />
            </div>
            <div class="sign-up__input-block">
              <input
                class="sign-up__input"
                type="text"
                name="first-name"
                placeholder="First Name"
                id="first-name"
              />
            </div>
            <div class="sign-up__input-block">
              <input
                class="sign-up__input"
                type="text"
                name="last-name"
                placeholder="Last Name"
                id="last-name"
              />
            </div>
            <div class="sign-up__input-block">
              <input
                class="sign-up__input"
                type="password"
                name="password"
                placeholder="Password"
                id="password"
              />
            </div>
            <button type="submit" class="sign-up__btn-form">
              Create my account
            </button>
          </form>
        </div>
      </div>
      <p class="sign-up__already-have-acc">
        Already have an account?
        <a href="sign-in.html" class="sign-up__already-link">Sign in</a>
      </p>
    </div>
  </div>
</section>
