<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content-wrappper">
      <div class="footer__logo-wrapper">
        <a href="index.html" class="footer__logo-link">
          <svg width="42" height="50">
            <use href="@img/sprite.svg#logo"></use>
          </svg>
        </a>
        <p>© 2020 Vitamins.com / All rights reserved</p>
      </div>
      <div class="footer__nav-wrapper">
        <div class="footer__nav-menu">
          <h3 class="footer__nav-title">Shop</h3>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link"
                >Vitamins & Dietary Supplements</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Weight Loss</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Minerals</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Antioxidants</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Probiotics</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Pain Relief</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Prenatal Vitamins</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-menu">
          <h3 class="footer__nav-title">Information</h3>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link"
                >Subscription Cycle & Billing</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Terms & Conditions</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Privacy Policy</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Shipping & Delivery</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Return Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-menu">
          <h3 class="footer__nav-title">Contact</h3>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="mailto:support@medstogo.com" class="footer__nav-link"
                >support@medstogo.com</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link footer__nav-link-soc"
                ><svg width="22" height="22">
                  <use href="@img/sprite.svg#footer--facebook"></use></svg
                >Facebook</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link footer__nav-link-soc"
                ><svg width="22" height="22">
                  <use href="@img/sprite.svg#footer--instagram"></use></svg
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <p class="footer__copyright">© 2020 Vitamins.com / All rights reserved</p>
    </div>
  </div>
</footer>
