<header class="header">
  <div class="header__container container">
    <div class="header__content">
      <button class="header__btn-open-menu open-menu">
        <span class="header__btn-open-icon"></span>
        <span class="header__btn-open-icon"></span>
        <span class="header__btn-open-icon"></span>
      </button>
      <a href="/" class="header__logo-link">
        <svg width="34" height="40">
          <use href="@img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a href="profile.html" class="header__item-link">
            <svg width="32" height="32">
              <use href="@img/sprite.svg#header--profile"></use>
            </svg>
          </a>
        </li>
        <li class="header__item">
          <a href="cart.html" class="header__item-link">
            <svg width="32" height="32">
              <use href="@img/sprite.svg#header--cart"></use>
            </svg>
          </a>
        </li>
        <li class="header__item">
          <a href="quiz.html" class="header__item-quiz-link"> Take the quiz </a>
        </li>
      </ul>
    </div>
  </div>
</header>
