@use "./utils/variables" as v;

.personal-pack {
  padding-bottom: 60px;
  background: #faf8f6;
  @media (min-width: v.$bp-desktop) {
    max-width: 1516px;
    margin: 85px auto 36px;
  }

  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0 102px;
    }
    @media (min-width: v.$bp-desktop) {
      padding: 0;
    }
  }

  &__content {
    background: #faf8f6;
    padding: 60px 0;
    @media (min-width: v.$bp-desktop) {
      padding: 60px 60px 50px;
    }
  }

  &__title {
    font-family: "Effra", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    @media (min-width: v.$bp-laptop) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 30px;
    .card-product {
      background: v.$color-white;
    }
    @media (min-width: v.$bp-mobile-l) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: v.$bp-laptop-sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: v.$bp-laptop) {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 50px;
    }
    @media (min-width: v.$bp-desktop) {
      gap: 32px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 330px;
    background-color: v.$main-orange;
    border: 1px solid v.$main-orange;
    padding: 18px 0;
    border-radius: 100px;
    font-family: "Effra", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: v.$color-white;
    @media (min-width: v.$bp-laptop) {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      line-height: 1.63;
      padding: 20px 0;
      height: 65px;
    }
  }
}
