<div class="shop-list">
  <div class="shop-list__shop-head">
    <button class="shop-list__shop-head-btn-back" data-back="main">
      <svg width="32" height="34">
        <use href="@img/sprite.svg#header--back_arrow"></use>
      </svg>
    </button>
    <p>Shop</p>
  </div>
  <ul class="shop-list__shop-list shop-only">
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">All categories</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#"
        >Vitamins & Dietary Supplements</a
      >
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Weight Loss</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Minerals</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Antioxidants</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Probiotics</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Pain Relief</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link" href="#">Prenatal Vitamins</a>
    </li>
    <li class="shop-list__shop-item">
      <a class="shop-list__shop-link shop-list__shop-link-red" href="#"
        >Sale%</a
      >
    </li>
  </ul>
  <div class="shop-list__bottom">
    <h3 class="shop-list__bottom-title">
      Don’t know what vitamins your body needs?
    </h3>
    <p class="shop-list__bottom-text">
      Answer a few simple questions and automaticallyget a personalazed list of
      vitamins in minutes
    </p>
    <button class="shop-list__bottom-btn">Take the quiz</button>
  </div>
</div>
