@use "./utils/variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button,
a {
  cursor: pointer;
}
svg {
  flex-shrink: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: v.$color-white;
  color: v.$color-black;
}
