@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  font-display: swap;
  src:
    url("../fonts/Effra.woff2") format("woff2"),
    url("../fonts/Effra.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  font-display: swap;
  src:
    url("../fonts/Effra-Medium.woff2") format("woff2"),
    url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  font-display: swap;
  src:
    url("../fonts/Effra-Bold.woff2") format("woff2"),
    url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
