@use "./utils/variables.scss";
@use "./base.scss";

@use "./components/header.scss";
@use "./components/burger/burger-menu.scss";
@use "./components/burger/burger-shop-list.scss";
@use "./components/home-page/hero.scss";
@use "./components/home-page/healthy.scss";
@use "./components/home-page/tell-us.scss";
