@use "./utils/variables" as v;

.profile-overview {
  &__container {
    padding: 0 20px;
    @media (min-width: v.$bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: v.$bp-laptop-sm) {
      padding: 0;
    }
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    @media (min-width: v.$bp-laptop) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      align-items: center;
    }

    p {
      font-family: "Effra", sans-serif;
      font-weight: 500;
      font-size: 18px;
      @media (min-width: v.$bp-laptop) {
        font-size: 22px;
      }
    }
  }

  
}
